.title {
    text-align: center;
}

.link {
  font-family: "Times New Roman", times, serif;
}

.btn {
  border: none;
  background-color: blue;
  font-family: "Times New Roman", times, serif;
}

a {
    text-decoration: none;
    color: darkgreen;
    cursor: pointer;
}

body {
  background-color: lightgrey;
}

table {
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

.gallery-image {
    width: 80px;
}

#all-galleries {
  font-family: "Courier", monospace;
  text-align: center;
}

#all-objects {

}
